{{define "title"}}Home{{end}}

{{define "content"}}
<main class="mx-auto px-6">
  <div class="flex flex-col md:flex-row  gap-10">

    <div class="flex items-center">
      <img
        src="/static/ilari.jpg"
        alt="Photo of Ilari Sorvali"
        class="w-40 h-40 md:w-44 md:h-44 mt-6 object-cover border-4 border-olive-300"
      />
    </div>


    <div class="md:text-left">
      <h2 class="text-3xl mb-4">Hei!/Hello!</h2>
      <div class="text-md leading-relaxed max-w-md md:max-w-lg">
        <p>
          Hello! I'm Ilari, a test automation developer who on his free time sport climbs and messes around with programming and IT systems, especially Linux.
          This is my personal website, which functions as an introduction and as a blog that I update whenever I feel like writing about something I've
          done or otherwise experienced.
        </p>
        <br>

        <p>
          At my work life I'm a Test Automation/QA engineer at <a href="https://www.valagroup.com/">VALA</a>.
        </p>
        <br>

      </div>
    </div>
  </div>
</main>

{{end}}
