{{define "title"}}Recipes{{end}}

{{define "content"}}

<div class="max-w-4xl mx-auto px-6">

  <p class="mb-12">
    A collection of recipes and maybe other kitchen lore.
    <br>
    Information is provided "as is" without warranty of any kind.
  </p>

  <!-- Sides -->
  <section class="mb-10">
    <h2 class="text-3xl font-medium mb-6">Sides</h2>
    <ul class="space-y-2">
      {{ $found := false }}
      {{range .Items}}
        {{with .Meta}}
          {{if and (hasTag .Tags "kitchen") (hasTag .Tags "side")}}
            {{ $found = true }}
            <li><a href="{{.Slug}}">{{.Title}}</a></li>
          {{end}}
        {{end}}
      {{end}}
      {{if not $found}}
        <p>There's nothing here (yet)</p>
      {{end}}
    </ul>
  </section>

  <!-- Mains -->
  <section class="mb-10">
    <h2 class="text-3xl font-medium mb-6">Mains</h2>
    <ul class="space-y-2">
      {{ $found := false }}
      {{range .Items}}
        {{with .Meta}}
          {{if and (hasTag .Tags "kitchen") (hasTag .Tags "main")}}
            {{ $found = true }}
            <li><a href="{{.Slug}}">{{.Title}}</a></li>
          {{end}}
        {{end}}
      {{end}}
      {{if not $found}}
        <p>There's nothing here (yet)</p>
      {{end}}
    </ul>
  </section>

  <!-- Misc -->
  <section>
    <h2 class="text-3xl font-medium mb-6">Misc</h2>
    <ul class="space-y-2">
      {{ $found := false }}
      {{range .Items}}
        {{with .Meta}}
          {{if and (hasTag .Tags "kitchen") (hasTag .Tags "misc")}}
            {{ $found = true }}
            <li><a href="{{.Slug}}">{{.Title}}</a></li>
          {{end}}
        {{end}}
      {{end}}
      {{if not $found}}
        <p>There's nothing here (yet)</p>
      {{end}}
    </ul>
  </section>

</div>

{{end}}
