{{ define "title"}} {{.Item.Meta.Title}} {{end}}

{{define "content"}}

<div>
  <div class="mx-auto text-3xl mb-16">
    <a href="/posts" class="inline-block px-4 py-2 text-white rounded hover:bg-amber-500 transition">
    ← Back to posts
  </a>
  </div>

  <div class="mx-auto text-3xl">
    {{with .Item}}
        <div class="text-2xl">{{.Meta.Title}}</div>
        <div>
            <article class="prose dark:prose-invert prose-lg max-w-none list-inside">
                  {{.Content}}
            </article>
        </div>
    {{end}}
    </div>
</div>

{{end}}
