{{ define "title"}} {{.Item.Meta.Title}} {{end}} {{define "content"}}

<div>
    <div class="mx-auto text-3xl mb-16 md:min-w-max">
        <a href="/posts" class="inline-block py-2 text-white rounded hover:bg-nord-7 transition">
            ← Back
        </a>
    </div>

    <h1 class="text-4xl mb-16">{{.Item.Meta.Title}}</h1>

    <hr class="w-48 h-1 mx-auto my-4 bg-nord-15 border-0 rounded-sm md:my-10"/>

    <div>
        {{with .Item}}
        <div>
            <article class="prose dark:prose-invert prose-lg container list-inside">
                {{.Content}}
            </article>
        </div>
        {{end}}
    </div>

    <hr class="w-48 h-1 mx-auto my-4 bg-nord-15 border-0 rounded-sm md:my-10"/>

    <div class="flex gap-4 p-4 mt-16">
        <div class="mx-auto text-2xl mb-16">
            {{if .Prev}}
              {{with .Prev.Meta}}
              <a href="{{.Slug}}">← Previous post</a>
            {{end}}
            {{else}}

            {{end}}
        </div>

        <div class="mx-auto text-2xl mb-16">
            {{if .Next}}
              {{with .Next.Meta}}
              <a href="{{.Slug}}">Next post →</a>
            {{end}}
            {{else}}

            {{end}}
        </div>
    </div>
</div>

{{end}}
