{{ define "title"}} {{.Item.Meta.Title}} {{end}}

{{define "content"}}
<div class="md:w-full">

    <div class="px-4 text-2xl text-center md:text-left">
        <a href="/posts" class="text-indigo-500 mb-8">
            &lt;- Back to posts
        </a>
    </div>

    <div>
        <h1 class="text-3xl md:text-5xl mt-8 mb-8 md:mb-16 text-center">
            {{.Item.Meta.Title}}
        </h1>

        {{template "horline"}}

        {{if .Item.Content}}
        <div>
            <article class="font-roboto prose w-full dark:prose-a:text-indigo-500 max-w-full dark:prose-invert prose-pre:text-s prose-pre:max-w-full prose-pre:overflow-x-auto">
                {{.Item.Content}}
            </article>
        </div>
        {{else}}
          <h1 class="text-center">The post content couldn't be loaded, sorry.</h1>
        {{end}}

        {{template "horline"}}

        <div class="grid grid-cols-2 items-center p-4 mt-8 md:mt-16 text-xl md:text-2xl gap-4">
            <div>
                {{if .Prev}}
                    {{with .Prev.Meta}}
                        <a href="{{.Slug}}"> &lt;- Previous post</a>
                    {{end}}
                {{end}}
            </div>

            <div class="text-right">
                {{if .Next}}
                    {{with .Next.Meta}}
                        <a href="{{.Slug}}">Next post -></a>
                    {{end}}
                {{end}}
            </div>

        </div>

    </div>
</div>
{{end}}
