{{define "title"}}Posts{{end}}

{{define "content"}}

        <h1>Latest post:</h1>
            {{if .Item}}
                {{with .Item.Meta}}
                <a href="{{.Slug}}">{{.Title}}</a> 
                {{end}}
            {{else}}
                <p>There's nothing to see here.</p>
            {{end}}

    <h1>Older posts:</h1>
    {{if .Items}}
        {{range .Items}}
            {{with .Meta}}
            <li>
                {{.Date.Format "2006 Jan 02"}} <a href="{{.Slug}}">{{.Title}}</a> 
            </li>
            {{end}}
        {{end}}

    {{else}}
        <p>There's nothing to see here.</p>
    {{end}}
{{end}}