{{define "title"}}Posts{{end}}

{{define "content"}}

<div class="flex items-center justify-between w-full mb-8">
    <h1 class="md:text-xl font-semibold">All posts</h1>
    <span class="md:text-xl">
      Atom <a href="/atom.xml">feed</a> for posts
    </span>
</div>

<div>
  <!-- Posts -->
  {{if .Items}}
    <ul class="space-y-3">
      {{range .Items}}
        {{with .Meta}}
        <li class="flex gap-4 md:text-xl">

          <span class="shrink-0 tabular-nums">
            {{.Date.Format "02 Jan 2006"}}
          </span>

          <a href="{{.Slug}}">
            {{.Title}}
          </a>

        </li>
        {{end}}
      {{end}}
    </ul>
  {{else}}
    <p>There’s nothing to see here.</p>
  {{end}}

</div>
{{end}}
