{{define "title"}}Posts{{end}}

{{define "main"}}

    <div class="latest-post">
        <h1>Latest post:</h1>
          {{with .Items}}
            <a href="{{.Slug}}">{{.Title}}</a>
          {{end}}
    </div>

    <div class="posts">
    <h1>Older posts:</h1>
    {{if .Items}}
        {{range .Items}}
            {{with .Meta}}
            <li>
                {{.Date.Format "2006 Jan 02"}} <a href="{{.Slug}}">{{.Title}}</a> 
            </li>
            {{end}}
        {{end}}

    {{else}}
        <p>There's nothing to see here.</p>
    {{end}}
    </div>
{{end}}