[Unit]
Description=Personal website
After=network-online.target
Requires=go-website-build.service

[Container]
Image=go-website.build
PublishPort=127.0.0.1:9000:9000
Volume=%h/path/to/markdown/content:/app/markdown:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
