[Unit]
Description=Personal website
After=network-online.target

[Container]
Image=ghcr.io/ilarisorvali/go-website:latest
PublishPort=127.0.0.1:9000:9000
Volume=%h/blog:/app/markdown:Z
Volume=%h/blog/images:/app/images:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
