{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/tailwind.css" />
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <title>{{template "title" .}} - Ilari Sorvali</title>
        <link rel="preconnect" href="https://cdn.sorvali.net">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="justify-between overflow-x-hidden bg-zinc-900 text-zinc-200">
        <div class="flex flex-col px-4 md:px-10 mt-8 md:mt-16" >
            {{template "topbar"}}
        </div>

        <div class="px-6 mx-auto w-full max-w-4xl mt-10 md:mt-20 md:flex md:flex-col md:items-center">
            {{template "content" .}}
        </div>

        <div class="mx-auto text-sm md:text-lg text-center bottom-0 mt-10">
            {{template "footer"}}
        </div>


    </body>
</html>
{{end}}
