{{define "header"}}

<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>{{template "title" .}} - Ilari Sorvali</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

</head>

<header>
    <div class="banner">
    <h1>Ilari Sorvali</h1>
    </div>
</header>

{{end}}