{{define "topbar"}}
<header>
    <div class="max-w-2xl mx-auto flex justify-between items-center py-4">
        <div class="text-2xl">
            Ilari Sorvali
        </div>

        <nav>
            <ul class="flex gap-4 text-2xl">
                <li><a href="/">home</a></li>
                <li><a href="/posts">posts</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/kitchen">kitchen</a></li>
            </ul>
        </nav>
    </div>
</header>
{{end}}
